.c-cart {
    $table-border: solid 1px $gray;
    color: $gray;
    padding: 6rem 4rem;
    .cart__empty-msg {
        color: $gray;
        font-weight: bold;
    }
    .cart__table {
        // border: $table-border;
        border-collapse: collapse;
        text-align: center;
        width: 100%;
        thead {
            // border-bottom: $table-border;
            th {
                padding-bottom: 2rem;
            }
        }
        tr {
            border-bottom: $table-border;
            text-align: center;
        }
    }

}
